/* main */
.navbar-collapse.collapse.in {
  display: block !important;
}

body {
  background-color: #F0EFF4;
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}

a {
  color: #0F1A20;
  ;
}

a:hover {
  text-decoration: none;
  color: #0F1A20;
  ;
}

/* for the galery*/
.galeryrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* for the C.V.*/
.CV {
  padding: 3vh 3vw 3vh 3vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.CVHeading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #8d07f6;
}

.CVTopics {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #0a1747;
}

/*For the Contact Page */
.contactme {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  border-radius: 50px;
  background: #8d07f6;
  box-shadow: inset 18px 18px 36px #7806d1,
    inset -18px -18px 36px #a208ff;
  padding: 1vh 1vw 1vh 1vw;
}

/* Create four equal columns that sits next to each other */
.galerycolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.galerycolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .galerycolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/*For width adjustment*/
.width70 {
  width: 70vw;
  margin: 0 auto;
}

/*For the blog posts*/
.blogimage {
  display: block;
  width: 50vw;
  margin: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .galerycolumn {
    flex: 100%;
    max-width: 100%;
  }
}

.customalbum:hover {
  opacity: 0.8;
}

/* for the h2 named whats on my mind */
#whatsonmymind {
  color: #0F1A20;
  padding-top: 5vh;
  padding-left: 10vw;
}

/* fading is used to make the text on cards fade */
.fading {
  background: -webkit-linear-gradient(#0F1A20, #F0EFF4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Titlecard Static Part*/
.avatar {
  display: block;
  height: 30vh;
  margin: auto;
}

.titlecard p {
  text-align: center;
  margin-bottom: 0;
  padding-top: 3rem;
  font-size: 4vh;
  color: #0F1A20;
}

.spacer {
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 10vh;
}

/* Titlecard Fluid Part*/
.typed-text {
  font-family: 'Abril Fatface', cursive;
  font-size: 6vh;
  color: #0072BB;
}

/* Titlecard Blinking Cursor*/
.cursor {
  display: inline-block;
  background-color: #0072BB;
  width: .2rem;
  margin-left: .3rem;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #0072BB;
  }

  49% {
    background-color: #0072BB;
  }

  50% {
    background-color: transparent
  }

  99% {
    background-color: transparent
  }

  100% {
    border-color: #0072BB
  }
}
