/* main */
.navbar-collapse.collapse.in {
  display: block !important;
}

body {
  background-color: #F0EFF4;
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
  position: relative
  width: 1000px;
}
html{
  overflow-x: hidden;
}
/* menu links */
a {
  color: #0F1A20;
  ;
}

a:hover {
  text-decoration: none;
  color: #0F1A20;
  ;
}

.signature{
  margin-top: -50px;
  margin-left: 75px;
  margin-right: 10px;
  width: 70%;

}
.container{
  position: relative;
}
.container .homebutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.myimage{
  background-image: url('https://github.com/Xeroque/Xeroque.github.io/blob/master/images/Eduardo%20Sousa.jpg?raw=true');
  background-size: contain;
  margin-top: -500px;
  height: 120vh;
  width: 50vw;
}
.myimage:hover{
  background-image: url('https://github.com/Xeroque/Xeroque.github.io/blob/master/images/Eduardo%20Sousa%20Selected.jpg?raw=true');
}

@media (max-width: 1365px) {

      .myimage {
        height: 0PX;
       }
      .myimagemobile{
        height: 100px;
      }
}
@media (min-width: 1366px) {

      .myimagemobile {
        height: 0PX;
       }
}
/* for the galery*/
.galeryrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* for the C.V.*/
.CV {
  padding: 3vh 3vw 3vh 3vw;
  font-weight: 400;
}

.CVHeading {
  display: inline;
  font-weight: 600;
  color: #8d07f6;
}
.CVInfo {
  display:inline;
  position: absolute;
  right: 3vw;
  font-size: medium;
}
.CVTopics {
  font-weight: 600;
  color: #0a1747;
}
.CVLink {
  color: #0a1747;
  text-decoration: underline;
}
/*For the Contact Page */
.contactform{
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 360px;
}
.formbox {
  border-top: none;
  border-style: solid;
  border-width: 1px;
  width: 330px;
}
.message {
width: 33
0px;
}

.contacttable{
  margin-left: auto;
  display: inline-block;
  margin: 1px;
}
.contactme {
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 5px;
  background: #8d07f6;
  box-shadow: inset 18px 18px 36px #7806d1,
    inset -18px -18px 36px #a208ff;
  padding: 1vh 1vw 1vh 1vw;
}
.contactme:hover {
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 5px;
  background: #8d07f6;
  box-shadow: inset 18px 18px 36px #410b6b,
              inset -18px -18px 36px #410b6b;

  padding: 1vh 1vw 1vh 1vw;
}
.sucessbanner{
  height: 100px;
  margin: 10px;
  padding: 10px;
  background:  #8d07f6;
  color: white;
  animation-name: expand;
  animation-duration: 1s;
}
@keyframes expand {
  from {height: 0px;
  color: #8d07f6;
opacity: 0%}
  to {height: 100px;
  color: white;
opacity: 100%}

}
/* Create four equal columns that sits next to each other */
.galerycolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.galerycolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .galerycolumn {
    flex: 50%;
    max-width: 50%;
  }
}

/*For width adjustment*/
.width70 {
  width: 70vw;
  margin: 0 auto;
}

/*For the blog posts*/
.blogimage {
  display: block;
  width: 50vw;
  margin: auto;
}
.blogimagehalf {
  display: inline-block;
  margin: auto;
  width: 28vw;
}
.blogimagesmall {
  display: inline-block;
  margin: auto;
  width: 5vw;
}
.blogimageadjacenttext{
  display: inline-block;
}
.blogvideo {
  display: block;
  margin: auto;
  width: 90%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .galerycolumn {
    flex: 100%;
    max-width: 100%;
  }
}

.customalbum:hover {
  opacity: 0.8;
}

/* for the h2 named whats on my mind */
#whatsonmymind {
  color: #0F1A20;
  padding-top: 5vh;
  padding-left: 10vw;
}

/* fading is used to make the text on cards fade */
.fading {
  background: -webkit-linear-gradient(#0F1A20, #F0EFF4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Titlecard Static Part*/
.avatar {
  display: block;
  height: 30vh;
  margin: auto;
}

.titlecard p {
  text-align: center;
  margin-bottom: 0;
  padding-top: 3rem;
  font-size: 4vh;
  color: #0F1A20;
}

.subtitle {
  margin-left: 5vw;
  margin-right: 5vw;
  padding-bottom: 10vh;
}

/* Titlecard Fluid Part*/
.typed-text {
  font-size: 5vh;
  color: #0072BB;
}
.landingcontact{
  margin-top: -50px;
}
/* Titlecard Blinking Cursor*/
.cursor {
  display: inline-block;
  background-color: #0072BB;
  width: .2rem;
  margin-left: .3rem;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #0072BB;
  }

  49% {
    background-color: #0072BB;
  }

  50% {
    background-color: transparent
  }

  99% {
    background-color: transparent
  }

  100% {
    border-color: #0072BB
  }
}
