.productphotography1{
  background-image: url(".../images/ProductPhotography/ProductPhotography_1.jpg");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center;
  top: 0;
  opacity: .75
}
.productphotography2{
  background-image: url("./images/Curve.png");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center;
  top: 0;
  opacity: .75
}
.productphotography3{
  background-image: url("./images/Curve.png");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center;
  top: 0;
  opacity: .75
}
.productphotography4{
  background-image: url("./images/Curve.png");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center;
  top: 0;
  opacity: .75
}
.productphotography5{
  background-image: url("./images/Curve.png");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  background-position: center;
  top: 0;
  opacity: .75
}
